body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: segoe ui, 微軟正黑體, 'sans-serif';
}

a{
	color: black;
}

a:hover { 
    text-decoration: none;
}

.navbar{
	min-height: 0;
}

.quizArea{
	position: relative;
	margin-top: 15%;
}

.wordHover{
	cursor: pointer;
}

.wordHover:hover{
	background-color: #e8e8e8;
}

.answer{
	position: relative;
	background-color: #dfdfdf;
	color: #555555;
	font-weight: 550;
	padding: 10%;
}

.btnArea{
	position: relative;
	margin-top: 10%;
}

.btnAnswer, .btnNext{
	position: relative;
	width: 80%;
}

.meaning{
	height: 150px;
	font-size: 20px;
}

@media(max-width: 768px){
	
	.quizArea{
	position: relative;
	margin-top: 20%;
	}

	.meaning{
	height: 70px;
	}

	.xsAnswer{
	position: relative;
	background-color: #dfdfdf;
	color: #555555;
	font-weight: 400;
	padding: 5%;
	height: 100px;
	}

	.answer{
	position: relative;
	font-weight: 0;
	padding: 0;
	}

	.btnArea{
	position: relative;
	margin-top: 25%;
	}
}


@media(min-width: 769px) and (max-width: 1280px){
	
	.quizArea{
	position: relative;
	margin-top: 15%;
	}

	.meaning{
	height: 70px;
	}

	.xsAnswer{
	position: relative;
	background-color: #dfdfdf;
	color: #555555;
	font-weight: 400;
	padding: 2%;
	height: 100px;
	}

	.answer{
	position: relative;
	font-weight: 0;
	padding: 0;
	}

	.btnArea{
	position: relative;
	margin-top: 15%;
	}
}	


